body
{
    margin: 0;
    padding: 0;
    background-color: black;
}
header
{
    width: 100vw;
    text-align: center;
    background-color: lightblue;
}
aside
{
    width: 20vw;
    float: left;
    background-color: lightyellow;
}
main
{
    width: 79vw;
    float: right;
    background-color: lightgrey;
}