*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: black;
}
header
{
    width: 100vw;
    text-align: center;
    background-color: lightblue;
}
aside
{
    width: 20vw;
    float: left;
    background-color: lightyellow;
}
main
{
    width: 79vw;
    float: right;
    background-color: lightgrey;
}
footer
{
    position: absolute;
    background-color: red;
    color: white;
    bottom: 0;
    width: 100vw;
    text-align: center;
}